# Copyright IBM Corp, 2016
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
# implied. See the License for the specific language governing
# permissions and limitations under the License.

# Root node
dn: {{ ldap_root_dn }}
description: Example.com - your trusted non-existent corporation.
dc: example
o: Example
objectClass: top
objectClass: dcObject
objectClass: organization

########################
# Organizational Units #
########################

# Users organizational unit
dn: ou=Users,{{ ldap_root_dn }}
ou: Users
description: ltc-jenkins users
objectClass: organizationalUnit

# Groups organizational unit
dn: ou=Groups,{{ ldap_root_dn }}
ou: Groups
description: Permission groups
objectClass: organizationalUnit

#########
# Users #
#########

# {{ admin.cn }} {{ admin.sn }}
dn: uid=ddiorio,ou=Users,{{ ldap_root_dn }}
ou: Users
uid: {{ admin.uid }}
cn: {{ admin.cn }}
sn: {{ admin.sn }}
mail: {{ admin.mail }}
userPassword: {{ admin.sha1_passwd }}
objectClass: person
objectClass: organizationalPerson
objectClass: inetOrgPerson

##########
# Groups #
##########

# Admin
dn: cn=admin,ou=Groups,{{ ldap_root_dn }}
ou: Groups
cn: admin
description: Users that can administrate ltc-jenkins system
member: uid=ddiorio,ou=Users,{{ ldap_root_dn }}
objectClass: groupOfNames

# Staff
dn: cn=staff,ou=Groups,{{ ldap_root_dn }}
ou: Groups
cn: staff
description: Users that have staff permission into client system.
member: uid=ddiorio,ou=users,{{ ldap_root_dn }}
objectClass: groupOfNames
